/* common shared styles */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 120px;
}

/* header section syles */
.header-container {
    margin-top: 50px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, #07021100 100%), url('../images/banner-image.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.header-title {
    width: 635px;
    text-align: center;
}

.header-title h2 {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-title h1 {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section styles */

/* holiday deals section starts */
.holiday-deals {
    width: 800px;
    margin: 0 auto 120px;
}

.holiday-deals-img {
    width: 800px;
}

.holiday-deals-img img {
    width: 100%;
}

.holiday-deals-content {
    text-align: center;
    margin-bottom: 50px;
}

.holiday-deals-content h1 {
    color: #F00;
    margin-bottom: 48px;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.holiday-deals-content h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-deals-content h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* welcome party styles */
.welcome-party {
    background-image: linear-gradient(90deg, #070211 0%, #07021100 100%), url(../images/Vectorrr.png);
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.welcome-party-content {
    width: 700px;
    padding-left: 125px;
}

.welcome-party-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 25px;
}

.welcome-party-content p {
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.welcome-party-content a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
}