/* common shared styles */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 120px;
    border-radius: 16px;
}

p {
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* header section syles */
.header-container {
    margin-top: 50px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, #07021100 100%), url('../images/banner-image.png');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.header-title {
    width: 635px;
    text-align: center;
}

.header-title h2 {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-title h1 {
    color: #ffffff;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* main section styles */

/* holiday deals section starts */
.holiday-deals {
    width: 800px;
    margin: 0 auto 120px;
}

.holiday-deals-img {
    width: 800px;
}

.holiday-deals-img img {
    width: 100%;
}

.holiday-deals-content {
    text-align: center;
    margin-bottom: 50px;
}

.holiday-deals-content h1 {
    color: #F00;
    margin-bottom: 48px;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.holiday-deals-content h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-deals-content h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* welcome party styles */
.welcome-party {
    background-image: linear-gradient(90deg, #070211 0%, #07021100 100%), url(../images/Vectorrr.png);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-party-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.welcome-party-details{
    width: 750px;
}
.welcome-party-details h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 25px;
}

.welcome-party-details p {
    margin-bottom: 48px;
    color: #ffffffcc;
}

.welcome-party-details a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
}

/* event details styles */
.event {
    background: linear-gradient(180deg, #ff00001a 0%, #ff000000 100%);
    padding: 100px 0 110px;
    display: flex;
    justify-content: center;
}

.event-details {
    text-align: center;
}

.event-details h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: uppercase;
}

.event-details h2 span {
    color: #F00;
}

.event-details button {
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

.event-details button:hover {
    cursor: pointer;
}

/* best offer styles */
.best-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-offer-details {
    width: 395px;
}

.best-offer-details h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-details h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.best-offer-details p {
    margin-top: 22px;
}

.best-offer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 425px;
    border-radius: 50%;
    border: 20px solid #f00;
    background-color: #ffffff00;
}

.best-offer-reason {
    width: 275px;
}

.best-offer-reason h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.best-offer-reason p{
    margin-bottom: 45px;
}

/* discount section styles */
.discount-details {
    text-align: center;
    width: 1065px;
    margin: 0 auto;
}

.discount-details h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-details h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.discount-details h1 span {
    color: #F00;
}

.discount-images {
    margin-top: 65px;
}

.absolute-imges {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.gift-box {
    width: 780px;
    position: absolute;
    margin-left: 10px;
    margin-bottom: -220px;
}

.discount-tag {
    position: absolute;
    margin-left: 780px;
    margin-bottom: 105px;
    width: 220px;
}

.happy-customer {
    margin-left: auto;
    width: 430px;
}

.rectangle-red {
    width: 100%;
}

/* product gallery styles */
.product-gallery-details {
    margin-bottom: 50px;
    width: 895px;
}

.product-gallery-details h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.product-gallery-details h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.product-gallery-images .image-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product-gallery-images .image-row img {
    border-radius: 16px;
    width: 424px;
    transition: 0.5s;
}
.product-gallery-images .image-row img:hover{
    box-shadow: #64646f33 0px 7px 29px 0px;
    rotate: 6deg;
}
/* newsletter styles */

.newsletter {
    background-color: #ff00000d;
    padding: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.newsletter-details {
    width: 895px;
}

.newsletter-details img {
    width: 150px;
    margin-bottom: 40px;
}

.newsletter-details h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}

.newsletter-details .newsletter-subcribe-form {
    display: flex;
    justify-content: center;
}

.newsletter-details .newsletter-subcribe-form form {
    margin-top: 25px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 70%;
}

.newsletter-details .newsletter-subcribe-form form .email {
    padding: 25px;
    border-radius: 50px 0 0 50px;
    margin-right: 0;
    border: none;
    outline: none;
    background: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.newsletter-details .newsletter-subcribe-form form .subscribe {
    margin-left: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 70px;
    color: white;
    color: #FFF;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
}

.newsletter-details .newsletter-subcribe-form form .subscribe:hover {
    cursor: pointer;
}

/* footer styles */
footer {
    background-color: #000000;
}

.footer {
    margin-bottom: 0;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #333;
}

.footer .address-contact {
    padding: 120px 0 50px;
    display: flex;
    justify-content: space-between;
}

.footer .address-contact p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer .address-contact .contact{
    margin-right: 150px;
}
.footer .address-contact .contact a{
    text-decoration: none;
    color: white;
}

.footer .social-links {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.footer .social-links a {
    margin-right: 25px;
    width: 60px;
}

.footer .all-right {
    padding: 50px 0 120px;
    display: flex;
    justify-content: space-between;
}

.footer .all-right p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.footer .all-right p a{
    color: #FFF;
    text-decoration: none;
}